doctype html
html
	head
		title #{title} - FindSub
		link(rel='stylesheet', href='/style/style.css')
	body
		.container
			.main-content
				block content
		#background
		script.
			document.getElementById('background').style.backgroundImage="url('/img/bg"+(Math.floor(Math.random()*41)+1)+".jpg')";
		script(src="/script/vendor/jquery.js")
		script(src="/script/vendor/jquery.cookie.js")
		script(src="/script/script.js")
